<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <appSettings>

  <add key="constr" value="data source=112.126.68.137;initial catalog=carapp;uid=iezu;pwd=fangrun0311"/>
    <!--<add key="constr" value="data source=fangrun0311.sqlserver.rds.aliyuncs.com,3433;initial catalog=carapp;uid=fangrunhebei0311;pwd=fangrun_hebei_0311"/>-->
    <add key="backUrl" value="http://192.168.1.151"/>
    <add key="gpsaddr" value="115.28.179.132:8080" />
    <add key="gpsnum" value="4" />
    <!--存储微信的xml文件路径-->
    <add key="wxaccesstoken" value="E:\CarAppVS10\XMLToken.xml"/>
    <!--<add key="callcenteraddr" value="121.28.211.162:9003"/>-->
    <add key="callcenteraddr" value="192.168.1.251:9003"/>
    <add key="orderpushaddr" value="http://admin.iezu.cn/PushOrderMsg.aspx"/>
  </appSettings>
  <system.web>
    <httpRuntime requestValidationMode="2.0" />
    <pages validateRequest="false" />
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="2880" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
  
  <location path="AdminLogin.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="PushOrderMsg.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <!--微信图片文件夹，需要微信通过外部地址访问-->
  <location path="Images/weixinNews">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--汽车生活图片文件夹-->
  <location path="Images/artical">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="push.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="ajax/verifycode.ashx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="ajax/loginhandler.ashx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="ajax/SpecialLoginHandler.ashx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Static/ueditor/net/upload">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>


  <location path="Static">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

</configuration>