
/*css reset*/body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding: 0;margin: 0;}table {border-collapse: collapse;border-spacing: 0;}fieldset,img {border: 0;}address,caption,cite,code,dfn,em,strong,th,var {font-weight: normal;font-style: normal;}ol,ul {list-style: none;}caption,th {text-align: left;}h1,h2,h3,h4,h5,h6 {font-weight: normal;font-size: 100%;}q:before,q:after {content:'';}abbr,acronym,img { border: 0;}
body
{
	font-size:12px;
      font-family:@Œ¢»Ì—≈∫⁄;
}

.Div_Banner {
     margin:0px auto;
     background:#f90;
     width:1000px;
}

.Div_Banner img {
     width:1000px;
}

img
{
    border:0px;
}
input,select
{
    outline:0px;
}
.top
 {
     width:100%; height:30px; background:#1e1e1e;     
 }
 #top_content
 {
     width:966px; margin:0 auto; text-align:right; font-family:@Œ¢»Ì—≈∫⁄; font-size:14px;color:#ADABAB; font-weight:bold;
 }
 #top_content span
 {
   display:inline-block;
   float:left;
   line-height:30px;
 }
 #top_content span a
 {
      text-decoration:none;
      color:#ADABAB;
 }
  #top_content a
  {
     margin-left:20px; line-height:30px; font-size:14px; text-decoration:none;color:#ADABAB;
  }
  #top_content a:hover
  {
      color:#FFFFFF;
  }
.clear
{
    clear:both;
}
.footer
{
    margin:0px auto;
    padding:0px;
    background-color:#1E1E1E;   
    width:100%;
}
.footer_top
{
    margin:0px auto;
    height:10px;
    background-color:#6FB43F; 
    width:100%;  
}
.footer_detail
{
    margin:0px auto;
    width:960px;
    height:248px;  
}
.footer_detail ul
{
    margin:0px;
    padding:0px;
    list-style:none;
}
.footer_detail ul li
{
    list-style:none;
    float:left;
    margin:20px 104px 0px 0px;
    padding:0px;
}
.footer_detail ul li h2
{
    margin:0px;
    padding:0px;
    color:#BFBEBA;
    *font-size:18px;
}
.footer_detail ul li p
{
    margin-top:34px;
}
.footer_detail ul li p a
{
    color:#C1C0BE;
    font-size:14px;
    display:block;
    margin-top:10px;
    text-decoration:none;
}
#lastli
{
   margin:42px 0px 0px 10px;
}
#lastli span
{
    font-size:21px;
    font-weight:bold;
    color:#C1C0BE;
    position:relative;
    top:-53px;  
    left:57px;
    display:block;
    white-space:nowrap;
}
.top_logo
{
    width:966px;
    height:107px;
    margin:0px;
    padding:0px;
    line-height:107px;
}
.top_logo a:hover
{
    color:#CC0000;
}
.top_logo img
{
    border:0px;
    position:relative;
    top:20px;
    
}
.top_logo span
{
    display:block;
    float:right;
}
.top_logo a
{
    margin-left:20px;
    font-size:18px;
    text-decoration:none;
    color:#000000;
    font-family:@Œ¢»Ì—≈∫⁄;
    font-weight:bold;
}
.mem_header
{
    width:964px;
    height:40px;
    border:1px solid #C3C3C3;
    line-height:40px;
    background-color:#E8E8E8;
}
.mem_header label
{
    display:inline-block;
    margin-left:13px;
}
.mem_header a
{
    color:#C50D3A;
    display:inline-block;
    text-decoration:none;   
}
.left_part
{
   /*float:left;*/
   width:165px;
   height:auto;
   margin:0px 0px 0px 0px;
}
   .left_top
   {
       height:33px;
       background-color:#D60000;
      padding-left:12px;
      color:#FFFFFF;
      font-size:14px;
      line-height:33px;
   }
   .left_detail
   {
       width:163px;
       height:auto;
       margin:5px 0px 0px 0px;
       border:1px solid #FABDBC;
   }
   .detail_top
   {
       height:33px;
       margin:0px;
       background-color:#FCE7E6;
       padding-left:14px;
   }
      .detail_top span
      {
        color:#E16000;
        font-weight:bold;
        line-height:33px;
      }
    .detail_top label
     {
         display:inline-block;
         background-color:#217DFC;
         height:14px;
         padding:3px;
         border-radius:2px;
         margin-left:4px;
         color:#FFFFFF;
     }
     .left_detail ul
     {
         list-style:none;
         margin-top:15px;
         padding:0px;
         margin-left:23px;
         line-height:200%;
         font-size:13px;
         font-family:@Œ¢»Ì—≈∫⁄;
     }
    .left_detail ul li
          {
              margin:0px;
              padding:0px;
              list-style:none;
          }
   .left_detail ul li a
      {
          text-decoration:none;
          color:#5E5E5E;
      }
    .left_detail ul li span
    {
        color:#A40101;
    }
   #mem_li1,#mem_li2
   {
     border-bottom:1px solid #FABDBC;
     margin-left:-18px;
     margin-right:5px;
     margin-top:15px;
   }
   .frame
   {
       float:left;
       margin:10px 0px 0px 0px;
       padding:0px;
       width:165px;
       height:510px;
   }
   .box_bg
   {
       background: #fff6f7;
 border: 1px #ffd0d0 solid;
padding: 20px 30px;
line-height: 25px;
color: #323433;
       }
       .mem_r 
       {
           margin-top: 10px;
           width: 770px;
           float: right;
      }
      .mar-t {
margin-top: 10px;
}
.m_statenav {
zoom: 1;
padding-left: 10px;
overflow: hidden;
background: #fff url(../images/mem_bg_x.gif) repeat-x 0 -200px;
}
.m_statenav li {
display: inline-block;
width: 110px;
text-align: center;
float: left;
height: 28px;
line-height: 28px;
margin-left: 5px;
}

/*---∑÷“≥…Ë÷√---*/
.P_Page
{
	width:92%;
	margin:0px auto;
    padding: 10px;
	height:22px;
	text-align:center;
	cursor:default;
	font:normal 12px/22px Verdana;
    clear: both;
}

.P_Page a
{
	color:#d60000;
	height:22px;
	padding:0px 7px 0px 6px;
	display:inline-block;
	text-decoration:none;
}

.P_Page a:hover
{
	background:#d60000;
	color:#fff;
}

.P_Page .A_Selected
{
	display:none;
}

.P_Page #PreviousPage:hover
{
	color:#d60000;
	background:none;
}

.P_Page #NextPage:hover
{
	color:#d60000;
	background:none;
}
