#container
{
	width:966px;
	height:auto;
	margin:0px auto;
	padding:0px;
}
.register_top
{
	width:966px;
	height:97px;
}
.register_top img
{
	width:966px;
}
.register_bg
{
	width:943px;
     padding:6px 0px 6px 21px;
     background-color:#F1F1F1;
     border:1px solid #C1C1C1;
     font-size:14px;
}
.register_bg span
{
	color:#C80104;
	font-weight:bold;
}
.register_detail
{
	width:966px;
	height:auto;
	margin:18px 0px 0px 0px;
}
.userInfo
{
	font-size:14px;
	float:left;
	margin:15px 0px 0px 0px;
    width:550px;
}
.userInfo label
{
	display:inline-block;
	text-align:right;
	width:163px;
	margin-bottom:25px;
}
.userInfo label span
{
	color:Red;
}
.userInfo .input
{
	display:inline-block;
	margin-left:6px;
	margin-right:20px;
	width:205px;
	height:25px;
	border:1px solid #E3E3E3;
}
.info
{
	margin-left:175px;
	margin-bottom:30px;
	display:inline-block;
}
.code_img
{
	display:inline-block;
	margin:0px 5px 0px 5px;
	position:relative;
	top:10px;
}
.code_input
{
	width:83px;
	height:25px;
  border:1px solid #E3E3E3;
  display:inline-block;
  margin-left:6px;
}
.userInfo a
{
	color:#838383;
	text-decoration:none;
}
.userInfo a:hover
{
	color:Red;
	text-decoration:underline;
}
.xieyi
{
	display:inline-block;
	margin-top:30px;
	margin-left:166px;
}
.xieyi a
{
	color:#315C7F;
}
.register_btn
{
	margin:80px 0px 80px 190px;
	display:inline-block;
	border:0px;
}
.right
{
	float:left;
	margin-left:80px;
	width:268px;
	height:auto;
	border:1px solid #E3E3E3;
}
.right h4
{
	margin:20px 15px;
}
.right span
{
	display:inline-block;
	margin:15px 15px 32px 20px;
	line-height:300%;
}