<?xml version="1.0" encoding="UTF-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <add key="messageServer" value="http://localhost:4199/dirvermoble/send.aspx"/>
    <add key="constr" value="data source=112.126.68.137;initial catalog=carapp;uid=iezu;pwd=fangrun0311;pooling=true;connection lifetime=0;min pool size = 1;max pool size=50"/>
    <!-- <add key="constr" value="data source=fangrun0311.sqlserver.rds.aliyuncs.com,3433;initial catalog=carapp;uid=fangrunhebei0311;pwd=fangrun_hebei_0311"/>-->
    <!--支付宝请求地址-->
    <add key="paybackUrl" value="http://www.iezu.cn"/>
    <!--<add key="paybackUrl" value="http://localhost:9470"/>-->
    <!--网站易宝支付参数-->
    <!--商户编号-->
    <add key="merhantId" value="10012329531"/>
    <!--商户密钥-->
    <add key="keyValue" value="9pNyy7m2cRbZ48Y2F5X45j621esQSX908E423E8ER0769At8f0c8b1e1344x"/>
    <!--交易请求地址正式上线版本-->
    <add key="authorizationURL" value="https://www.yeepay.com/app-merchant-proxy/node"/>
    <add key="twiceAlipay" value="http://www.iezu.cn/twicepay"/>
    <!--手机一键支付参数-->
    <!--商户账户编号-->
    <add key="merchantAccount" value="YB01000000934"/>
    <!--商户公钥-->
    <add key="merchantPublickey" value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCzjtGIuBIEy2cFPiWYP9b9Q0oITeBnhW0ZJ2SRkgJT3bVfUiJ1i8QLDMOQRMno92DYcGxhKTgV0sqnxjcUiMMZ5xRtUGQysKAcq7p+Kyhg5pns1ZaUEgtxgsPahSAnDpDUAK/WiHDdoCgajMpp4YP0eY6Tr8WV/y6kzxEZ0ZVoWwIDAQAB"/>
    <add key="merchantPrivatekey" value="MIICdwIBADANBgkqhkiG9w0BAQEFAASCAmEwggJdAgEAAoGBALOO0Yi4EgTLZwU+JZg/1v1DSghN4GeFbRknZJGSAlPdtV9SInWLxAsMw5BEyej3YNhwbGEpOBXSyqfGNxSIwxnnFG1QZDKwoByrun4rKGDmmezVlpQSC3GCw9qFICcOkNQAr9aIcN2gKBqMymnhg/R5jpOvxZX/LqTPERnRlWhbAgMBAAECgYEAm0y8R97Enub6DJvK0lrs7JIFdxc8Lu1FBgt/PTSm1LiehXo5macwAUqh3qbQZ7GGTs01v/dxrdZqNyAGRblf3BNqtWTMFSSVKo51DW39/UUy8OleRkUYPSFNwvv3uMizn/6NUnF80nmsRZXMn/mmR/NlPkPR+gzHNdbBEgg6T6kCQQDu2ApV8K1u61sxgZO73Tsgqmpbz6CHFdp32ITu5sGKl+yhO1WZvWZVaSskTnQoVh5c3c3aGEDT5KlAk/q51uafAkEAwHSaOXhd6WomTnlo4O+7JDRNWTj1hhjyjOZyQybhclav5K5r2LI6ilZNyS/v7qIjeoDPjI5tjKfccrtRJ7QQxQJBANJ2El16MAk+YOQ1zw1Ku3BkWkY+pbCDJDhY1YKCWecbSksksqA/Ue5PNtHOQ/LLOAQS+vKETpOouS+LdfLOF/cCQGtk5ebqByXIaUXjNCZJQJnsYblHMqM46qi7s8lLOgUO4Kpwtpe+pTIrBM8e4/m7GqcymB7sH6+cwER5yMiqD60CQBnqZMgwnPIB6893hqKVfVd2EYok8crWUYEFM2kWt42wGm60dvm1Y3S1rR3r2JyNO0esDe/TUU4260xMi0Uo69A="/>
    <add key="yibaoPublickey" value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCTwh8ue3+HqfO76A6gAWAxKRHhEF94H3wXgT08KYxf+zz2QRUdLCJytAo2c9VGqcR+v9HhyoYt29lVJp39kqQNpd1h3kOABaAuWZ/XbdA7aKBc818Jf0O5P0mYxqEOZgzcoibJAFVk+spDpAgjnOkzfIoH/ZgjSGz9cmjdgFP9cQIDAQAB"/>
    <add key="mobileUrl" value="http://m.iezu.cn"/>
    <!--存储微信的xml文件路径-->
    <add key="wxaccesstoken" value="E:\CarAppVS10\XMLToken.xml"/>
 <add key="SMSUrl" value="http://112.126.68.137:12121/Send"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"></customErrors>
    <!--<customErrors  mode="Off"></customErrors>-->
    <!--<authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>-->

    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

    <!--<customErrors mode="On" defaultRedirect="/notfound.aspx">
      <error statusCode="404" redirect="/notfound.aspx"/>
      <error statusCode="500" redirect="/internalerror.aspx"/>
    </customErrors>--> 
  
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
      <files>
        <add value="Index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
